@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", Georgia, serif;
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-navy-50: #f5f9ff;
  --color-navy-100: #ebf2fb;
  --color-navy-200: #dae5f4;
  --color-navy-300: #b9cdea;
  --color-navy-400: #91add6;
  --color-navy-500: #6d8ebc;
  --color-navy-600: #5575a1;
  --color-navy-700: #425f87;
  --color-navy-800: #334b6e;
  --color-navy-900: #253b59;
  --color-navy-950: #1c2e46;

  --color-gold-50: #fdfaf2;
  --color-gold-100: #faeed4;
  --color-gold-200: #f4daa5;
  --color-gold-300: #ebbe6c;
  --color-gold-400: #e29f3c;
  --color-gold-500: #c5841b;
  --color-gold-600: #a4701e;
  --color-gold-700: #815416;
  --color-gold-800: #654113;
  --color-gold-900: #533311;
  --color-gold-950: #2c1a08;
}

body {
  font-family: var(--font-sans);
}
